<h3>Welcome {{name}}</h3>
{{#each secrets as |secret|}}



      <div class="col s12 m6">
        <!-- CARD WITH TITLE -->
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{secret.title}}</span>
            <p>{{secret.body}}</p>
          </div>
          <!-- ADD LINKS -->
          <div class="card-action">
            <a href="/dashboard/edit/{{id}}">Edit</a>
            <a href="#" class="delete-secret" data-id="{{secret.id}}">Delete</a>
 

            {{!-- <a href="/dashboard/edit/{{id}}" class="btn btn-sm btn-danger" style="margin: 1rem;">Edit</a><br>
            <a href="/dashboard/edit/{{id}}" class="btn btn-sm btn-danger" style="margin: 1rem;">Delete</a><br> --}}
          </div>
        </div>
      </div>




{{!-- <a href="/dashboard/edit/{{id}}" class="btn btn-sm btn-danger blue" style="margin: 1rem;">{{secret.title}}</a><br> --}}
  {{!-- <p>{{secret.title}}</p>
  <p>{{secret.body}}</p>

  <h4><a href="/secret/{{secret.id}}">{{secret.title}}</a></h4>
  <button class="edit-secret" data-id="{{secret.id}}">edit</button>
  <button class="delete-secret" data-id="{{secret.id}}">delete</button> --}}
{{/each}}


  <script src="/js/logout.js" ></script>
    <script src="/js/dashboard.js" ></script>