<h2>Dashboard</h2> 
<button class="no-button" id="logout">logout</button>
<a href="./newSecret" class="btn waves-effect waves-light orange lighten-">New Secret</a>

<h3>Welcome {{name}}</h3>
{{#each secrets as |secret|}}
  <p>{{secret.title}}</p>
  <p>{{secret.body}}</p>

  <h4><a href="/secret/{{secret.id}}">{{secret.title}}</a></h4>
  {{!-- <a id="delete-secret" class="btn waves-effect waves-light orange lighten-" data-id="{{secret.id}}">Delete</a> --}}
  <button class="edit-secret" data-id="{{secret.id}}">edit</button>
  <button class="delete-secret" data-id="{{secret.id}}">delete</button>
{{/each}}

  {{!-- <script src="/js/logout.js" ></script> --}}
    <script src="/js/dashboard.js" ></script>