<h5> Edit page </h5>



<h2>Edit Secret Page</h2>
    <form class="form new-secret-form">
      <div class="form-group">
        <label for="secret-title">Secret Title:</label>
        <input class="form-input" type="text" id="secret-title" name="secret-title" value="{{title}}"/>
      </div>
      <div class="form-group">
        <label for="secret-body">Secret Body:</label>
         <input name="secret-body" type="text" value="{{body}}" class="form-input" id="secret-body" />
        {{!-- <textarea class="form-input" id="secret-body" name="secret-body" value="{{secret.body}}"></textarea> --}}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary edit-secret" data-id="{{id}}">Save</button>
        <button type="submit" class="btn btn-primary delete-secret" data-id="{{id}}">Delete</button>

      </div>
    </form>


<script src="/js/edit-secret.js"></script>


